<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carousel Template for Bootstrap</title>
</head>
<title>Home</title>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="text-name"><strong>Monster Hunter World Galerie</strong></h1>
<h3 class="sub-text">Um zu den Chats zu gelangen scrollen Sie weiter nach unten</h3>
<h1 class="chatintroduction-text-position">Bitte wählen Sie einen Chat/ Please choose a chat</h1>
<div>
  <button class="btngroup">Builds Chat</button>
  <button class="btngroup">General Chat</button>
  <button class="btngroup">Fragen/ Questions</button>
</div>
<div>
  <button class="btngroup">Lets Play toegether</button>
  <button class="btngroup">Self-promotion</button>
  <button class="btngroup">Tipps and Tricks</button>
</div>
  <div class="bgimg2pic"><img style="width:100%;" src="/assets/erledigt1.jpg"> <!--img SRC: https://www.eurogamer.net/articles/2019-09-15-heres-what-capcom-has-planned-for-monster-hunter-world-in-the-next-few-months  -->
    <img style="width:100%; " src="/assets/erledigt1.jpg">
  </div>
</body>
</html>
