<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MHWGalerie</title>
</head>

<body>
<h1 class="site-name">Galerie</h1>

<table class="row">
  <tr>
    <td><a href="/assets/erledigt01es.jpg" download>
      <img class="imgsize" src="/assets/erledigt01es.jpg"> <!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Fmhwotomo.official%2F&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAW -->
    </a></td>
    <td>
      <a href="/assets/erledigt02.jpg" download>
      <img class="imgsize" src="/assets/erledigt02.jpg"><!--img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fwww.deviantart.com%2Fzinyart%2Fart%2FMHW-ICEBORNE-Velkhana-Illustration-Watercolor-809394492&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAb -->
      </a></td>
    <td> <a href="/assets/erledigt03.jpg" download>
      <img class="imgsize" src="/assets/erledigt03.jpg"><!--img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fwww.deviantart.com%2Fzinyart%2Fart%2FMHW-ICEBORNE-Velkhana-Illustration-Watercolor-809394492&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAb -->
    </a></td>
    <td>
      <a href="/assets/erledigt04.jpg" download="">
      <img class="imgsize" src="/assets/erledigt04.jpg"><!--img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fmonsterhunterworld.wiki.fextralife.com%2FBanbaro&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABBA -->
      </a></td>
  </tr>
  <tr>
    <td><a href="/assets/erledigt05.jpg" download>
      <img class="imgsize" src="/assets/erledigt05.jpg"><!--img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fwww.gameskinny.com%2Fo8grq%2Fhow-to-slay-the-arch-tempered-kirin-in-monster-hunter-world&psig=AOvVaw0dgqfsTY6ikOu8nKwy4mGS&ust=1598865136352000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJj3zfnKwusCFQAAAAAdAAAAABAW -->
    </a></td>
    <td>
      <a href="/assets/erledigt06.jpg" download>
      <img class="imgsize" src="/assets/erledigt06.jpg"><!--img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fgame.capcom.com%2Fmanual%2FMHW%2Fde%2Fps4%2Fpage%2F4%2F9&psig=AOvVaw0dgqfsTY6ikOu8nKwy4mGS&ust=1598865136352000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJj3zfnKwusCFQAAAAAdAAAAABAQ -->
    </a></td>
    <td>
      <a href="/assets/erledigt07.jpg" download>
      <img class="imgsize" src="/assets/erledigt07.jpg"> <!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fmein-mmo.de%2Fmonster-hunter-world-das-steckt-im-neuen-grossen-update%2F&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAE -->
      </a></td>
    <td><a href="/assets/erledight08.jpg" download>
      <img class="imgsize" src="/assets/erledigt08.jpg"><!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fwww.giga.de%2Fnews%2Fmhw-iceborne-kostenloses-update-bringt-neues-monster%2F&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAQ -->
    </a></td>
  </tr>
</table>

<table class="row2nd-site">
  <tr>
    <td><a href="/assets/erledight09.png" download>
      <img class="imgsize" src="/assets/erledigt09.png">
    </a></td><!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fgamertagzero.com%2Fmhw-iceborne-arch-tempered-namielle-armor-set-and-skills-build%2F&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAt -->
    <td><a href="/assets/erledight10.png" download>
      <img class="imgsize" src="/assets/erledigt10.png">
    </a></td><!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fgamertagzero.com%2Fmhw-iceborne-arch-tempered-namielle-armor-set-and-skills-build%2F&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAt -->
    <td><a href="/assets/erledight11.jpg" download>
      <img class="imgsize" src="/assets/erledigt11.jpg">
    </a></td><!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fgamestoday.info%2Fps4%2Fmonster-hunter-world%2F900-hours-in-mhw-and-ive-been-playing-mhgu%2F&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAz -->
    <td><a href="/assets/erledigt12.jpg" download>
      <img class="imgsize" src="/assets/erledigt12.jpg">
    </a></td><!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fgamergen.com%2Factualites%2Fmonster-hunter-world-iceborne-alatreon-et-barioth-crocgivre-arrivent-version-14-00-entierement-detaillee-video-313672-1&psig=AOvVaw0dgqfsTY6ikOu8nKwy4mGS&ust=1598865136352000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJj3zfnKwusCFQAAAAAdAAAAABAD -->
  </tr>
  <tr>
    <td><a href="/assets/erledigt13.jpg" download>
      <img class="imgsize" src="/assets/erledigt13.jpg">
    </a></td><!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fmonsterhunterworld.wiki.fextralife.com%2FTigrex&psig=AOvVaw0dgqfsTY6ikOu8nKwy4mGS&ust=1598865136352000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJj3zfnKwusCFQAAAAAdAAAAABAK -->
    <td><a href="/assets/erledigt14.jpg" download>
      <img class="imgsize" src="/assets/erledigt14.jpg">
    </a></td><!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fwww.usgamer.net%2Farticles%2Fyou-can-now-customize-your-weapons-appearance-in-monster-hunter-world&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0n4DJwusCFQAAAAAdAAAAABAo -->
    <td><a href="/assets/erledigt15.jpeg" download>
      <img class="imgsize" src="/assets/erledigt15.jpeg">
    </a></td><!-- img SRC: https://www.google.ch/url?sa=i&url=https%3A%2F%2Fguidefall.com%2Fmhw-gold-melding-ticket-iceborne-how-to-get%2F&psig=AOvVaw2kDzpf66XtUD4WJH4_zhvP&ust=1598864621298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLiW0svLwusCFQAAAAAdAAAAABAa -->
    <td><a href="/assets/erledigt16.jpg" download>
      <img class="imgsize" src="/assets/erledigt16.jpg">
    </a></td><!-- img SRC: https://www.gameinformer.com/feature/2019/07/05/a-look-inside-monster-hunter-world-icebornes-new-outpost-seliana -->
  </tr>
</table>
<div class="bgimg2pic"><img style="width:100%;" src="/assets/erledigt1.jpg"> <!--img SRC: https://www.eurogamer.net/articles/2019-09-15-heres-what-capcom-has-planned-for-monster-hunter-world-in-the-next-few-months  -->
<img style="width:100%; " src="/assets/erledigt1.jpg"/>
</div>
</body>
</html>