<h1>Userlist</h1>

<p>Anzahl Benutzer: <%=User.count%></p>

<!--
 <p>Name des 1.Benutzers in der Datenbank: <%#=User.first.name%> </p> gives back the name of the 1. user

 <%#u =User.first%> //it saves the first user into a varible 'u'
<p>Email des 1. Benutzers in der Datenbank: <%#=u.email%> /gives back the email from the user saved into 'u'
<p>Alter des 1. Benutzers in der Datenbank: <%#=u.age%>//gives back the age of the user saved into 'u'
-->

<br>
  <ol>
    <% User.all.each do |u| %> <!--lists all users with a number in front of the name-->
      <ul>
        <li>Name: <%=u.name%></li>
        <li>Email: <a href="<a href="mailto:joe@example.com?subject=feedback"><%=u.email%></a></li>
        <li>Alter: <%=u.age%></li>
      </ul>
      <%end%>
  </ol>
<br>
