<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carousel Template for Bootstrap</title>
</head>
<title>Home</title>

<body>
<h1 class="site-name">Login</h1>

<form class="login-box" accept-charset="UTF-8" action="/login" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="<%=form_authenticity_token%>"/>
  <h1>Login</h1>
  <h2>Username</h2>
  <input id="session_username" type="text" placeholder="Username" name="session[username]" value="">
  <br/>
  <br/>
  <h2>Password:</h2>
  <input id="session_password" type="password" placeholder="Password" name="session[password]" value="">
  <br/>
  <input name="commit" class="btn" type="submit" value="Login">
</form>
<div class="bgimg1pic"><img style="width:100%;" src="/assets/erledigt1.jpg">
</div>


<script>

</script>
</body>
</html>

