<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carousel Template for Bootstrap</title>
</head>
<title>Home</title>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 class="site-name">Profil</h1>
<h1 class="texth1"><strong>Profil</strong></h1>
<div class="profil-box">
  <h1>Change Password</h1>
  <h2>New Password:</h2>
  <input type="text" placeholder="Password" name="" value="">
  <br/>
  <br/>
  <h2>Confirm Password:</h2>
  <input type="password" placeholder="Password" name="" value="">
  <br/>
  <input class="btn" type="button" name="" value="Change password"></input>
</div>

<!--Textboxen in einer box, welche man als new password bezeichnet und als approve new password-->
<div class="bgimg1pic"><img style="width: 100%;" src="/assets/erledigt1.jpg">
</div>
</body>
</html>

