<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carousel Template for Bootstrap</title>
</head>
<title>Home</title>
<body>

<h1 class="site-name">Registrieren</h1>

<form class="register-box" accept-charset="UTF-8" action="/create" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="<%=form_authenticity_token%>" />

  <h1>Register</h1>
  <h2>Name</h2>
  <input id="user_name" type="text" placeholder="Name" name="user[name]" >
  <br/>
  <h2>Username</h2>
  <input id="user_username" type="text" placeholder="Username" name="user[username]">
  <br/>
  <br/>
  <h2>Password:</h2>
  <input id="user_password" type="password" placeholder="Password" name="user[password]" value="">
  <br/>
  <h2>Password confirmation:</h2>
  <input type="password" placeholder="Confirm" name="user[password_confirmation]" value="">
  <br/>
  <input class="btn" type="submit" name="commit" value="Sign up">
</form>
<div class="bgimg1pic"><img style="width:100%;" src="/assets/erledigt1.jpg"> <!--img SRC: https://www.eurogamer.net/articles/2019-09-15-heres-what-capcom-has-planned-for-monster-hunter-world-in-the-next-few-months  -->
</div>
</body>
</html>